## Entrega 2 Metodos de Computacion Estadistica

**Julian Mauricio Rodriguez Barreto**

In [66]:
import pandas as pd

## ARchivo CSV en Github
https://raw.githubusercontent.com/julianbarreto10/Proyecto-Julian/main/Est%20Bancario.csv"

In [74]:
url = "https://raw.githubusercontent.com/julianbarreto10/Proyecto-Julian/main/Est%20Bancario.csv"
df= pd.read_csv(url)
df

,Numero_Cuenta,Nombre,Saldo_Actual,Fecha_Última_Transacción
0,21537540,Andrés Suárez,8493380,14/04/2020
1,984629,Andrés Suárez,8493380,12/04/2020
2,19393081,Andrés Suárez,5845961,9/01/2019
3,5157622,Andrés Suárez,5982616,2/01/2019
4,3266136,Andrés Suárez p,13051209,24/10/2018
...,...,...,...,...
114,6187641,Adolfo Rivera Villalobos,9537521,1/01/2018
115,4424618,ADOLFO SUAREZ TORRES,22147798,30/10/2017
116,4656334,adolfo uneme burgos,13291199,30/10/2017
117,8617828,Adonai Mina Parra,470072,28/10/2017
118,10143337,Adonay Reyes Ramírez,21093985,27/10/2017

## Clase Iterable:

In [72]:
class SiguientesCuentas:
    def __init__(self, numero_cuenta, sig):
        self.url = "https://raw.githubusercontent.com/julianbarreto10/Proyecto-Julian/main/Est%20Bancario.csv"
        self.df= pd.read_csv(self.url)
        self.cuenta= numero_cuenta
        self.sig = sig +1
        self.ind = self.df.loc[self.df.Numero_Cuenta==self.cuenta,].index
        self.val = 0
    # Hace esta clase iterable
    def __iter__(self):
        return self
    
    # Hace esta clase un iterador
    def __next__(self):
        if self.sig == self.val:
            raise StopIteration
        else:
            return_val = self.val
            self.val += 1
            return print(self.df.iloc[self.ind[0]+return_val,])

### Informacion Clase
SiguientesCuentas(numero_cuenta, sig):

    numero_cuenta = "Se introduce el numero de cuenta"
    
    sig = "Numero de cuentas siguientes que desea consultar"

In [73]:
for i in SiguientesCuentas(984629,1):
    print(i)
    print('Siguiente cuenta: ')

Numero_Cuenta                       984629
Nombre                      Andrés  Suárez
Saldo_Actual                       8493380
Fecha_Última_Transacción        12/04/2020
Name: 1, dtype: object
None
Siguiente cuenta:
Numero_Cuenta                     19393081
Nombre                      Andrés  Suárez
Saldo_Actual                       5845961
Fecha_Última_Transacción         9/01/2019
Name: 2, dtype: object
None
Siguiente cuenta:

## Ejercicios Colecciones

Creee una lista del 1 al 5 y concatenela con una del 6 al 10 de tal manera que quede  una nueva lista con los numeros del 1 al 10

In [2]:
a=list(range(1,6))
print(a)
b=list(range(6,11))
print(b)
print('Nueva lista:')
print(a+b)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
Nueva lista:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]